<div class="content">
  <div class="container">
    <mat-card class="mat-card-login">
      <mat-card-content class="mat-card-content-login">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xl-12 col-xs-12 login-form">
            <form [formGroup]=" loginForm" (ngSubmit)="onSubmit()">
              <h1>Sign in</h1>
              <h3>Enter your credentials here.</h3>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="EnterYourEmail@SomeDomain.com" formControlName="email" required>
                <mat-error>
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Tenant</mat-label>
                <input matInput placeholder="Tenant" formControlName="tenant" required>
                <mat-error>
                  Please provide a valid Tenant
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter your password" formControlName="password" required>
                <mat-error>
                  Please provide a valid password
                </mat-error>
              </mat-form-field>
              <button *ngIf="!isBeingLoggedIn" mat-raised-button color="primary" style="width:100%;height: 50px;"
                type="submit"> Sign In
              </button>
              <button *ngIf="isBeingLoggedIn" mat-raised-button color="primary" style="width:100%;height: 50px;"
                [disabled]="!loginForm.valid" type="submit">
                <mat-icon>
                  <mat-spinner diameter="20">
                  </mat-spinner>
                </mat-icon> Logging you in..
              </button>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>