<mat-card class="module-card">
    <mat-card-header>
        <mat-card-title translate>about.title</mat-card-title>
        <mat-card-subtitle translate>about.subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h2 translate>about.coreTeam</h2>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-4 col-xl-4">
                <mat-card class="module-card" style="padding-top: 16px!important;">
                    <mat-card-header style="padding: 16px!important;">
                        <div mat-card-avatar class="member"></div>
                        <mat-card-title>Lucas Torres</mat-card-title>
                        <mat-card-subtitle>Creator</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="padding-top: 0px!important;">
                        <p>
                            https://gitlab.com/lmtcba
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>
