.member-default {
    background-image: url('https://media-exp2.licdn.com/dms/image/C4E03AQF6mJahxZGQ6A/profile-displayphoto-shrink_800_800/0/1626800249072?e=1663200000&v=beta&t=rihcQTReXaIP55iaOrV2smoSUvmfxemUySHBtOHZaOc');
    background-size: cover;
}
.member {
    background-image: url('https://media-exp2.licdn.com/dms/image/C4E03AQF6mJahxZGQ6A/profile-displayphoto-shrink_800_800/0/1626800249072?e=1663200000&v=beta&t=rihcQTReXaIP55iaOrV2smoSUvmfxemUySHBtOHZaOc');
    background-size: cover;
}
.member-unchase {
    background-image: url('https://media-exp2.licdn.com/dms/image/C4E03AQF6mJahxZGQ6A/profile-displayphoto-shrink_800_800/0/1626800249072?e=1663200000&v=beta&t=rihcQTReXaIP55iaOrV2smoSUvmfxemUySHBtOHZaOc');
    background-size: cover;
}
.member-chhinsras {
  background-image: url('https://media-exp2.licdn.com/dms/image/C4E03AQF6mJahxZGQ6A/profile-displayphoto-shrink_800_800/0/1626800249072?e=1663200000&v=beta&t=rihcQTReXaIP55iaOrV2smoSUvmfxemUySHBtOHZaOc');
  background-size: cover;
}
