<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="areaForm">
  <mat-dialog-content class="mat-typography">
    <input mat type="hidden" formControlName="id" />
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input autocomplete="off" placeholder="Name" formControlName="name" />
      <mat-error> Please provide a valid Name </mat-error>
    </mat-form-field>
    <p></p>
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input autocomplete="off" placeholder="Code" formControlName="code" />
      <mat-error> Please provide a valid Code </mat-error>
    </mat-form-field>
    <p></p>
    <mat-form-field>
      <mat-label>Flag</mat-label>
      <input autocomplete="off" placeholder="Flag" formControlName="flag" />
      <mat-error> Please provide a valid Flag </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button cdkFocusInitial color="primary"
      [disabled]="!areaForm.dirty || !areaForm.valid" type="submit">
      Save
    </button>
  </mat-dialog-actions>
</form>
